.header-container {
    border-bottom: 2px solid #3498db; /* Set border color as needed */
    padding: 10px;
  }
  
  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .project-info {
    flex-grow: 1;
  }
  
  .user-info {
    display: flex;
    align-items: center;
  }
  
  .user-details {
    margin-right: 20px;
  }
  
  .username {
    font-weight: bold;
  }
  
  .coordinator {
    color: #555;
  }
  
  .logo-container {
    width: 40px; /* Adjust the width of the logo container as needed */
  }
  
  .nitc-logo {
    width: 100%;
    height: auto;
  }
  